{% extends 'layout.html' %}

{% block body %}
  <h1>Nächste Aufführungen</h1>
  <ul class="list-group">
      <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Datum</th>
            <th>Uhrzeit</th>
            <th>Dirigent</th>
            <th></th>
            <th></th>
          </tr>
          {% for auffuehrung in auffuehrungen %}
                <tr>
              <td><li class="list-group-item"><a href="bevorstehend/{{auffuehrung.Name}}">{{auffuehrung.Name}}</td>
                <td> {{auffuehrung.Datum}}</td>
                <td>{{auffuehrung.Uhrzeit}}</td>
                <td>{{auffuehrung.Dirigent}}</td></a></li>

              <td>
              </td>
            </tr>
          {% endfor %}
        </table>
  </ul>
{% endblock %}
