{% extends 'layout.html' %}

{% block body %}
  <h1>Ergebnisse <small> Willkommen {{session.username}}</small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Datum</th>
      <th>Dirigent</th>
      <th>Sänger</th>
    </tr>
    {% for result in results %}
      <tr>
        <td>{{result.Name}}</td>
        <td>{{result.Datum}}</td>
        <td>{{result.Dirigent}}</td>
        <td>{{result.Künstlername}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
