{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h2>DB Web App 'Oper'</h2>
    <p class="lead">Dies ist eine Beispiel-Implementation des Datenbankschemas "Oper" aus der UE Datenbanken BIOINF20 mit Hilfe von Flask</p>
    Ersteller: Gruppe 2 - Dominic Viehböck etc. </br></br>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}
