{% extends 'layout.html' %}

{% block body %}
  <h1>Suche <small> Willkommen {{session.username}}</small></h1>
  <hr>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
          {{render_field(form.name, class_="form-control")}}
    </div>    
    <div class="form-group">
      {{render_field(form.datum, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.dirigent, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.saenger, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Datum</th>
      <th>Dirigent</th>
      <th>Sänger</th>
      <th></th>
      <th></th>
    </tr>
  </table>
{% endblock %}
